 @model IEnumerable<AM.Models.AppointmentModel>

@{
    ViewData["Title"] = "DoctorDashboard";
}

@if (ViewBag.msg==null){
    <h1>DoctorDashboard</h1>

    <div class="card">




        <table class="table ">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AppointmentDate)
                    </th>
                   @*  <th>
                        AppointmentDay
                    </th> *@
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Doctor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Patient)
                    </th>
                    @* <th>@Html.DisplayNameFor(model=>model.BookedSlots)</th> *@
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @* @Html.DisplayFor(modelItem => item.AppointmentDate) *@
                            @item.AppointmentDate.ToString("dd MMM,yyyy")
                            <br />
                            @item.AppointmentDate.ToString("dddd")
                            @item.BookedSlots
                        </td>
                       @*  <td>
                            @item.AppointmentDate.ToString("dddd")s
                        </td> *@
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctor.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Patient.Name)
                        </td>
                        @* <td>@Html.DisplayFor(modelItem => item.BookedSlots)</td> *@
                        <td style="width:80px">

                            <form asp-action="Approve" asp-controller="Doctor" asp-route-id="@item.AppointmentId" method="post">

                                <button type="submit" class="btn btn-primary">Approve</button>

                            </form>

                        </td>




                        <td>
                            @{
                                if(item.Status==AppoinmentStatus.Cancelled){
                                    <form asp-action="Cancel" asp-controller="Doctor" asp-route-id="@item.AppointmentId" method="post">

                                        <button style="display:none" type="submit" class="btn btn-danger">Cancel</button>

                                    </form>
                                }else {
                                    <form asp-action="Cancel" asp-controller="Doctor" asp-route-id="@item.AppointmentId" method="post">

                                        <button  type="submit" class="btn btn-danger">Cancel</button>

                                    </form>
                                }
                            }
                            @* <form asp-action="Cancel" asp-controller="Doctor" asp-route-id="@item.AppointmentId" method="post">

                                <button type="submit" class="btn btn-danger">Cancel</button>

                            </form> *@



                            @* <a asp-action="Details" asp-route-id="@item.AppointmentId">Cancel</a> | *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}else{
    <h1>@ViewBag.msg</h1>
}



@* <h1>index</h1> *@